@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
body {
  margin: 0;
  padding: 0;
}
.navbar-brand {
  background: url("../img/sharinghand.png") no-repeat scroll center 0 #ffffff;
  height: 48px;
  width: 141px;
  background-size: 178px;
}
.content {
  margin-top: 15px;
}
#homeBanner {
  background: url("../img/students.png") no-repeat scroll center 0 #ffffff;
  height: 300px;
}
#homeBanner h1 {
  font-size: 60px;
  text-align: center;
  color: #fff;
  padding-top: 100px;
  padding-left: 11px;
}
#marketing .row {
  text-align: center;
}
#marketing span.glyphicon {
  font-size: 80px;
}
@media (max-width: 480px) {
  #homeBanner {
    background: url("../img/students_small.png") no-repeat scroll center 0 #ffffff;
    height: 200px;
  }
  #homeBanner h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 60px;
  }
}
#listPost .thumbnail {
  margin-top: 20px;
}
#listPost .thumbnail .caption h3 {
  min-height: 53px;
}
#listPost .thumbnail .caption p {
  min-height: 45px;
}
#listPost .thumbnail .post-want {
  border-top: 10px solid #DFF0D8;
}
<<<<<<< HEAD
#listPost .thumbnail.post-have,
#listPost .thumbnail.post-give {
  border-top: 10px solid #D9EDF7;
}
#listPost .thumbnail .btn-want {
  background-color: #5CB85C;
  border-color: #4CAE4C;
  color: #FFFFFF;
}
#mapPost {
  height: 500px;
}
=======
#listPost .thumbnail .post-have {
  border-top: 10px solid #D9EDF7;
}
>>>>>>> 1ee31dc57395526613dcb8bc9d3bae941bb436c5
