@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
body { margin: 0; padding: 0; }
#homeBanner{
	background:url("../img/students.png") no-repeat scroll center 0 #fff;
	height: 300px;
	h1{
		font-size:60px;
		text-align: center;
		color: #fff;
		padding-top: 130px;
	}
}
#marketing{
		.row{
			text-align: center;
		}
	}
@media (max-width: 480px) {
	
	#homeBanner{
	background:url("../img/students_small.png") no-repeat scroll center 0 #fff;
	height: 200px;
	h1{
		font-size:40px;
		text-align: center;
		padding-top: 60px;
	}
}
	
}